@model DisasterResponseSystem.Models.inkindAids

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>inkindAids</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="DonorEntitie" class="control-label"></label>
                <select name="DonorEntitiesID" class="form-control" asp-items="@ViewBag.DonorEntities"></select>
                <span asp-validation-for="DonorEntitie" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div style="color:red">If you not found your Inkind Type you whant to aid please create it from Inkind Tab</div>
                <label asp-for="InkindType" class="control-label"></label>
                <select name="InkindTypeID" class="form-control" asp-items="@ViewBag.InkindTypes"></select>
                <span asp-validation-for="InkindType" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="QTY" class="control-label"></label>
                <input asp-for="QTY" class="form-control" />
                <span asp-validation-for="QTY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
